### Группировка и агрегирование данных

In [2]:
import pandas as pd
fb = pd.read_csv("C:\\Users\\Ekaterina\\Desktop\\data\\players_22.csv")
fw = pd.read_csv("C:\\Users\\Ekaterina\\Desktop\\data\\female_players_22.csv")
# fb.info()
# fw.info()
#display(fb.iloc[:,43:].sample(10))
#display(fw.sample(10))

cols = ['sofifa_id', 'short_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm', 'weight_kg', 'club_name', 'league_level', 'nationality_name', 'preferred_foot', 'player_tags', 'player_traits','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed']
fb = fb[cols]
fb

C:\Users\Ekaterina\AppData\Local\Temp\ipykernel_14508\1059812137.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  fb = pd.read_csv("C:\\Users\\Ekaterina\\Desktop\\data\\players_22.csv")

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
0,158023,L. Messi,"RW, ST, CF",93,93,78000000.0,320000.0,34,170,72,...,96,20,35,24,6,11,15,14,8,NaN
1,188545,R. Lewandowski,ST,92,92,119500000.0,270000.0,32,185,81,...,88,35,42,19,15,6,12,8,10,NaN
2,20801,Cristiano Ronaldo,"ST, LW",91,91,45000000.0,270000.0,36,187,83,...,95,24,32,24,7,11,15,14,11,NaN
3,190871,Neymar Jr,"LW, CAM",91,91,129000000.0,270000.0,29,175,68,...,93,35,32,29,9,9,15,15,11,NaN
4,192985,K. De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,181,70,...,89,68,65,53,15,13,5,10,13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,180,64,...,37,38,43,48,6,10,5,15,13,NaN
19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,175,70,...,47,37,44,47,11,12,6,8,10,NaN
19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,178,72,...,36,38,44,48,8,6,7,10,6,NaN
19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,173,66,...,47,10,14,11,7,10,7,14,15,NaN
19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,167,61,...,36,33,31,37,8,13,13,9,14,NaN

In [3]:
print(list(fb.columns))
print(list(fw.columns))

['sofifa_id', 'short_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm', 'weight_kg', 'club_name', 'league_level', 'nationality_name', 'preferred_foot', 'player_tags', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed']
['sofifa_id', 'player_url', 'short_name', 'long_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id', 'club_name', 'league_name', 'league_level', 'club_position', 'club_jersey_number', 'club_loaned_from', 'club_joined', 'club_contract_valid_until', 'nationality_id', 'nationality_name', 'nation_team_id', 'nation_position', 'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves', 'international_reputation', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url', 'club_flag_url', 'nation_logo_url', 'nation_flag_url']

In [4]:
fw= fw[cols]
fw

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
0,227246,L. Bronze,"RB, CM",92,92,NaN,NaN,29,171,67,...,80,90,88,89,10,14,16,8,15,NaN
1,227316,W. Renard,CB,92,92,NaN,NaN,30,187,70,...,80,90,93,91,7,14,17,11,15,NaN
2,233746,V. Miedema,ST,92,93,NaN,NaN,24,178,65,...,91,22,30,23,14,16,17,14,17,NaN
3,227125,S. Kerr,"ST, LW",91,91,NaN,NaN,27,167,55,...,92,36,38,23,7,12,8,16,13,NaN
4,226301,A. Morgan,ST,90,90,NaN,NaN,31,170,62,...,91,34,29,27,11,11,10,10,11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,261799,H. Eurlings,"CF, ST",66,81,2000000.0,500.0,18,170,58,...,58,30,28,34,10,11,6,12,5,NaN
387,261856,Ana Dias,ST,66,75,1900000.0,500.0,23,171,60,...,60,10,10,12,12,6,11,6,10,NaN
388,263000,G. Rennie,"ST, RW",66,79,NaN,NaN,19,168,64,...,54,33,31,27,9,7,6,5,15,NaN
389,262867,C. Nevin,LB,62,77,NaN,NaN,19,168,65,...,50,46,67,65,9,11,13,12,7,NaN
390,262868,C. Grant,"RB, CB",60,75,NaN,NaN,19,172,70,...,52,51,62,60,7,14,11,7,14,NaN

### Страна с наибольшим количеством игроков

In [5]:
ns = fb['nationality_name'].value_counts()

In [6]:
#ns = fb['nationality_name'].value_counts() # сколько каждого из значений в датафрейме + отсортирует
# type(ns)
# в двойных скобках - считает не как серию, а датафрейм
# ns = fb[['nationality_name']]
# pd.DataFrame({'frequency' : ns.value_counts()})
# display(ns)
ns.index[0] # самая популярная страна - тип строка

'England'

### Сколько всего стран

In [7]:
len(ns)

163

### Сколько игроков из России

In [8]:
ns.loc['Russia']

93

### Фильтрация серии

#### сколько стран с количеством игроков больше чем n

In [9]:
ns[ns>100]

England                1719
Germany                1214
Spain                  1086
France                  980
Argentina               960
Brazil                  897
Japan                   546
Netherlands             439
United States           413
Poland                  403
China PR                385
Sweden                  385
Norway                  379
Republic of Ireland     374
Portugal                373
Saudi Arabia            355
Mexico                  352
Romania                 338
Italy                   338
Korea Republic          325
Colombia                322
Belgium                 321
Austria                 319
Denmark                 307
Scotland                293
Turkey                  291
Uruguay                 280
Australia               266
India                   223
Venezuela               212
Paraguay                197
Switzerland             192
Ecuador                 178
Chile                   165
Peru                    156
Croatia                 154
Bolivia                 150
Wales                   137
Ghana                   128
Senegal                 127
Nigeria                 125
Serbia                  123
Côte d'Ivoire           111
Czech Republic          104
Morocco                 101
Name: nationality_name, dtype: int64

# VALUE.COUNTS()

### Сколько игроков в клубах

In [10]:
fb['club_name'].value_counts()

Paris Saint-Germain       33
RC Celta de Vigo          33
Everton                   33
Real Betis Balompié       33
Burnley                   33
                          ..
Bahia                     20
Clube Atlético Mineiro    20
Fluminense                20
Wellington Phoenix        19
Harrogate Town            19
Name: club_name, Length: 701, dtype: int64

#### В каком клубе меньше всего игроков

In [11]:
fb["club_name"].value_counts().index[-1]

'Harrogate Town'

In [12]:
fb['league_level'].value_counts(normalize= True)
# 77% - лиги 1го уровня и тд

1.0    0.774690
2.0    0.131036
3.0    0.060903
4.0    0.031964
5.0    0.001408
Name: league_level, dtype: float64

In [13]:
fb['league_level'].value_counts()

1.0    14857
2.0     2513
3.0     1168
4.0      613
5.0       27
Name: league_level, dtype: int64

In [15]:
fb['player_positions'].value_counts(normalize=True)

CB              0.125942
GK              0.110817
ST              0.092001
CDM, CM         0.049535
CM              0.037736
                  ...
CAM, CDM, ST    0.000052
CDM, RWB, CB    0.000052
ST, CAM, RW     0.000052
ST, CF, RM      0.000052
CDM, LM, LB     0.000052
Name: player_positions, Length: 674, dtype: float64

In [23]:
ages = fb['age'].value_counts(bins=5)
display(ages)

(23.6, 31.2]      9266
(15.961, 23.6]    7880
(31.2, 38.8]      2027
(38.8, 46.4]        65
(46.4, 54.0]         1
Name: age, dtype: int64

In [18]:
fb['wage_eur'].value_counts(bins=4) #разбить данные на 4 категории по одинак кол-ву строк

(150.499, 87875.0]      18966
(87875.0, 175250.0]       167
(175250.0, 262625.0]       34
(262625.0, 350000.0]       11
Name: wage_eur, dtype: int64

### Самый старый игрок FIFA

In [26]:
oldest = fb.loc[fb['age']>ages.index[4].left] # сравниваем с левой границей промежутка
oldest['nationality_name']

16209    Japan
Name: nationality_name, dtype: object

# Другие способы оценки данных
## unique | nunique

In [28]:
fb['nationality_name'].unique()

array(['Argentina', 'Poland', 'Portugal', 'Brazil', 'Belgium', 'Slovenia',
       'France', 'Germany', 'England', 'Korea Republic', 'Netherlands',
       'Senegal', 'Egypt', 'Italy', 'Spain', 'Uruguay', 'Costa Rica',
       'Norway', 'Croatia', 'Scotland', 'Algeria', 'Slovakia', 'Denmark',
       'Switzerland', 'Hungary', 'Gabon', 'Serbia', 'Nigeria', 'Morocco',
       'Sweden', 'Austria', 'Montenegro', "Côte d'Ivoire", 'Mexico',
       'Bosnia and Herzegovina', 'Finland', 'Greece', 'Armenia',
       'Colombia', 'Cameroon', 'Ghana', 'Wales', 'Russia', 'Turkey',
       'United States', 'Jamaica', 'Canada', 'Czech Republic', 'Chile',
       'Ukraine', 'Venezuela', 'Togo', 'Burkina Faso', 'Northern Ireland',
       'Congo DR', 'Israel', 'Albania', 'Guinea', 'Iceland', 'China PR',
       'New Zealand', 'Central African Republic', 'Peru', 'Mali', 'Japan',
       'North Macedonia', 'Ecuador', 'Iran', 'Republic of Ireland',
       'Angola', 'Romania', 'Mozambique', 'Cape Verde Islands',
       'Australia', 'Paraguay', 'Tunisia', 'Kosovo', 'Zimbabwe', 'Zambia',
       'Libya', 'Suriname', 'Saudi Arabia', 'Syria', 'Gambia', 'Kenya',
       'Georgia', 'Equatorial Guinea', 'Panama', 'Dominican Republic',
       'Trinidad and Tobago', 'Honduras', 'Guinea Bissau', 'Liberia',
       'Curacao', 'Tanzania', 'Benin', 'Cyprus', 'South Africa',
       'Uzbekistan', 'Congo', 'Madagascar', 'Moldova', 'Cuba',
       'Saint Kitts and Nevis', 'Philippines', 'Fiji',
       'United Arab Emirates', 'Luxembourg', 'Namibia', 'Chad',
       'Lithuania', 'Bolivia', 'Comoros', 'Thailand', 'Bermuda',
       'Burundi', 'Antigua and Barbuda', 'Malawi', 'Haiti', 'Bulgaria',
       'Sierra Leone', 'Kazakhstan', 'Montserrat', 'Chinese Taipei',
       'El Salvador', 'Niger', 'Malta', 'Uganda', 'Belarus', 'Jordan',
       'India', 'Iraq', 'Puerto Rico', 'Azerbaijan', 'Mauritania',
       'Eritrea', 'Mauritius', 'Lebanon', 'Sudan', 'Grenada', 'Latvia',
       'Guam', 'Kyrgyzstan', 'Guyana', 'Faroe Islands',
       'Papua New Guinea', 'Ethiopia', 'Andorra', 'Korea DPR',
       'Saint Lucia', 'Afghanistan', 'Vietnam', 'Belize', 'Guatemala',
       'Palestine', 'Bhutan', 'Barbados', 'Gibraltar', 'Malaysia',
       'Estonia', 'South Sudan', 'Hong Kong', 'Indonesia'], dtype=object)

In [29]:
fb.head(20)['nationality_name']

0          Argentina
1             Poland
2           Portugal
3             Brazil
4            Belgium
5           Slovenia
6             France
7            Germany
8            Germany
9            England
10            France
11            France
12           Belgium
13    Korea Republic
14            Brazil
15       Netherlands
16           Senegal
17             Egypt
18            Brazil
19           Germany
Name: nationality_name, dtype: object

### Количество национальностей

In [31]:
nations = fb['nationality_name'].unique()
len(nations)

163

### Сколько клубов

In [34]:
fb['club_name'].nunique()

701

### Преобразование серии в датафрейм

In [36]:
clubs_series = fb['club_name'].value_counts()
print(type(clubs_series))
clubs_df = clubs_series.reset_index()
clubs_df

<class 'pandas.core.series.Series'>

                      index  club_name
0       Paris Saint-Germain         33
1          RC Celta de Vigo         33
2                   Everton         33
3       Real Betis Balompié         33
4                   Burnley         33
..                      ...        ...
696                   Bahia         20
697  Clube Atlético Mineiro         20
698              Fluminense         20
699      Wellington Phoenix         19
700          Harrogate Town         19

[701 rows x 2 columns]

In [37]:
clubs_df.columns = ['Club Name', 'Players Count']
clubs_df

                  Club Name  Players Count
0       Paris Saint-Germain             33
1          RC Celta de Vigo             33
2                   Everton             33
3       Real Betis Balompié             33
4                   Burnley             33
..                      ...            ...
696                   Bahia             20
697  Clube Atlético Mineiro             20
698              Fluminense             20
699      Wellington Phoenix             19
700          Harrogate Town             19

[701 rows x 2 columns]

# Groupby

In [43]:
grouped_df = fb.groupby('nationality_name')
grouped_df.groups.keys() # сортировка в виде словаря по алфавиту

dict_keys(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Cape Verde Islands', 'Central African Republic', 'Chad', 'Chile', 'China PR', 'Chinese Taipei', 'Colombia', 'Comoros', 'Congo', 'Congo DR', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea DPR', 'Korea Republic', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Netherlands', 'New Zealand', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Ireland', 'Norway', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Republic of Ireland', 'Romania', 'Russia', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Sierra Leone', 'Slovakia', 'Slovenia', 'South Africa', 'South Sudan', 'Spain', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Wales', 'Zambia', 'Zimbabwe'])

In [44]:
grouped_df.sum() # суммируются все значения в датафрейме по признаку

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,league_level,pace,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
nationality_name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,243680,64,69,875000.0,2000.0,23,172,61,1.0,82.0,...,52,35,33,35,13,6,10,10,7,0.0
Albania,10784060,3079,3293,125805000.0,466150.0,1169,8363,3435,62.0,2941.0,...,2775,2243,2226,2103,662,636,639,679,662,91.0
Algeria,11705159,3603,3760,317095000.0,1048200.0,1366,9255,3815,62.0,3093.0,...,3299,2290,2421,2242,863,877,864,874,902,286.0
Andorra,192937,64,64,400000.0,1000.0,31,184,79,1.0,60.0,...,56,56,62,64,9,7,12,8,6,0.0
Angola,3911887,1145,1248,42875000.0,157600.0,418,3001,1212,20.0,1327.0,...,1061,787,800,765,169,177,178,169,181,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,52426102,13437,14770,279550000.0,606550.0,5261,37526,15339,222.0,12785.0,...,11205,9200,9529,8948,3269,3221,3259,3318,3286,706.0
Vietnam,244807,64,66,525000.0,2000.0,27,188,88,1.0,0.0,...,39,5,10,10,65,61,58,65,65,45.0
Wales,31046495,8680,9642,234360000.0,1312800.0,3301,24826,10160,354.0,8491.0,...,7736,6396,6727,6425,2147,2148,2126,2158,2113,539.0
Zambia,2074868,614,663,41200000.0,174500.0,230,1636,676,9.0,672.0,...,560,334,346,327,118,87,86,83,106,0.0
Zimbabwe,2979330,878,926,36090000.0,160000.0,333,2361,956,21.0,963.0,...,786,588,655,623,130,139,128,136,132,0.0

In [49]:
nats_sum = grouped_df.sum(numeric_only=True) # оставляем только числовые характеристики
nats_sum

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,league_level,pace,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
nationality_name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,243680,64,69,875000.0,2000.0,23,172,61,1.0,82.0,...,52,35,33,35,13,6,10,10,7,0.0
Albania,10784060,3079,3293,125805000.0,466150.0,1169,8363,3435,62.0,2941.0,...,2775,2243,2226,2103,662,636,639,679,662,91.0
Algeria,11705159,3603,3760,317095000.0,1048200.0,1366,9255,3815,62.0,3093.0,...,3299,2290,2421,2242,863,877,864,874,902,286.0
Andorra,192937,64,64,400000.0,1000.0,31,184,79,1.0,60.0,...,56,56,62,64,9,7,12,8,6,0.0
Angola,3911887,1145,1248,42875000.0,157600.0,418,3001,1212,20.0,1327.0,...,1061,787,800,765,169,177,178,169,181,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,52426102,13437,14770,279550000.0,606550.0,5261,37526,15339,222.0,12785.0,...,11205,9200,9529,8948,3269,3221,3259,3318,3286,706.0
Vietnam,244807,64,66,525000.0,2000.0,27,188,88,1.0,0.0,...,39,5,10,10,65,61,58,65,65,45.0
Wales,31046495,8680,9642,234360000.0,1312800.0,3301,24826,10160,354.0,8491.0,...,7736,6396,6727,6425,2147,2148,2126,2158,2113,539.0
Zambia,2074868,614,663,41200000.0,174500.0,230,1636,676,9.0,672.0,...,560,334,346,327,118,87,86,83,106,0.0
Zimbabwe,2979330,878,926,36090000.0,160000.0,333,2361,956,21.0,963.0,...,786,588,655,623,130,139,128,136,132,0.0

### ПРИНЦИПИАЛЬНОЕ ОТЛИЧИЕ В ИНДЕКСИРОВАНИИ ЧЕРЕЗ ОБРАЩЕНИЕ К ОДНОМУ МЕТОДУ LOC ПО СРАВНЕНИЮ С "ЦЕПНЫМ" ИНДЕКСИРОВАНИЕ

In [55]:
nats_sum.loc["Germany"] # суммированные значения по конкретной стране 
nats_sum.loc['Germany', 'value_eur'] # сколько стоят все игроки в Германии вместе
# тоже легитимно, но - изменить данные НЕ получится
nats_sum.loc['Germany']['value_eur'] # находим столбец в серии

3411965000.0

In [52]:
#nats_sum['wage_eur'] # суммированные значения по зарплате 
#или
nats_sum.loc[:, 'value_eur']

nationality_name
Afghanistan       875000.0
Albania        125805000.0
Algeria        317095000.0
Andorra           400000.0
Angola          42875000.0
                  ...
Venezuela      279550000.0
Vietnam           525000.0
Wales          234360000.0
Zambia          41200000.0
Zimbabwe        36090000.0
Name: value_eur, Length: 163, dtype: float64

In [67]:
# В каком клубе самая высокая зарплата?
club_wages_series = fb.groupby('club_name')['wage_eur'].sum() # складывает значения
club_wages_series.sort_values().index[-1]
club_wages_series.sort_values(ascending=False) # по убыванию
club_wages_series.sort_values(ascending=False).index[0]

'Real Madrid CF'

In [61]:
fb['club_name'].value_counts() # считает значения по людям

Paris Saint-Germain       33
RC Celta de Vigo          33
Everton                   33
Real Betis Balompié       33
Burnley                   33
                          ..
Bahia                     20
Clube Atlético Mineiro    20
Fluminense                20
Wellington Phoenix        19
Harrogate Town            19
Name: club_name, Length: 701, dtype: int64

In [63]:
club_wages_df = fb.loc[:,['club_name','wage_eur']]
club_wages_df

                 club_name  wage_eur
0      Paris Saint-Germain  320000.0
1        FC Bayern München  270000.0
2        Manchester United  270000.0
3      Paris Saint-Germain  270000.0
4          Manchester City  350000.0
...                    ...       ...
19234             Wuhan FC    1000.0
19235           Derry City     500.0
19236           Finn Harps     500.0
19237           Finn Harps     500.0
19238  NorthEast United FC     500.0

[19239 rows x 2 columns]

In [73]:
# Сколько в каждой стране уникальных лиг и клубов?
fb.groupby('nationality_name')[['club_name', 'league_level']].nunique().sort_values(by= 'league_level')

                     club_name  league_level
nationality_name
Afghanistan                  1             1
Honduras                    10             1
Saint Lucia                  1             1
Saudi Arabia                16             1
Guatemala                    2             1
...                        ...           ...
Scotland                    96             5
Republic of Ireland        104             5
Poland                      95             5
Wales                       72             5
England                    171             5

[163 rows x 2 columns]

In [76]:
# Сколько всего в клубах игроков
fb.groupby('club_name')['short_name'].count().sum()

19178

In [77]:
fb.groupby('club_name')['short_name'].count().mean() # среднее число игроков в клубе / max()|min()

27.35805991440799

# Сводные таблицы

In [83]:
fb[['club_name','nationality_name','wage_eur','age','league_level','player_positions','value_eur']].sample(100)

,club_name,nationality_name,wage_eur,age,league_level,player_positions,value_eur
13302,Sport-Club Freiburg,Germany,3000.0,19,1.0,"LM, RM",1100000.0
770,Athletic Club de Bilbao,Spain,29000.0,31,1.0,CM,11500000.0
17862,Al Ahli,Saudi Arabia,4000.0,21,1.0,"RM, CAM",300000.0
3218,AEK Athens,Iran,900.0,31,1.0,"LB, LM, CAM",1700000.0
6723,Millwall,Iceland,7000.0,29,2.0,"ST, LW",1200000.0
...,...,...,...,...,...,...,...
14336,Al Ain FC,Côte d'Ivoire,500.0,20,1.0,CB,825000.0
8402,Clube Sport Marítimo,Portugal,3000.0,21,1.0,"CM, CDM",2300000.0
1912,Roma,Spain,41000.0,23,1.0,"RW, CF",9000000.0
13531,Mansfield Town,England,4000.0,26,4.0,ST,500000.0
11947,SK Rapid Wien,Austria,5000.0,20,1.0,CDM,1200000.0

In [84]:
fb.loc[:,['league_level']]

       league_level
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
...             ...
19234           1.0
19235           1.0
19236           1.0
19237           1.0
19238           1.0

[19239 rows x 1 columns]

Бюджеты по странам и лигам

In [85]:
fb.pivot_table(values=['wage_eur'],aggfunc='sum', index=['nationality_name'] , columns=['league_level'])

                   wage_eur
league_level            1.0       2.0       3.0      4.0     5.0
nationality_name
Afghanistan          2000.0       NaN       NaN      NaN     NaN
Albania            436400.0   17000.0   10750.0   2000.0     NaN
Algeria           1017000.0   31200.0       NaN      NaN     NaN
Andorra              1000.0       NaN       NaN      NaN     NaN
Angola             137950.0   19650.0       NaN      NaN     NaN
...                     ...       ...       ...      ...     ...
Venezuela          531550.0   70000.0    5000.0      NaN     NaN
Vietnam              2000.0       NaN       NaN      NaN     NaN
Wales              733500.0  395000.0  109350.0  73450.0  1500.0
Zambia             174500.0       NaN       NaN      NaN     NaN
Zimbabwe           142000.0    7000.0   11000.0      NaN     NaN

[163 rows x 5 columns]

взяли ограничено - только 1 и 2 лиги

In [86]:
fb.loc[fb['league_level'].isin([1.0,2.0])].pivot_table(values=['wage_eur'],aggfunc='sum', index=['nationality_name'] , columns=['league_level'])

                   wage_eur
league_level            1.0       2.0
nationality_name
Afghanistan          2000.0       NaN
Albania            436400.0   17000.0
Algeria           1017000.0   31200.0
Andorra              1000.0       NaN
Angola             137950.0   19650.0
...                     ...       ...
Venezuela          531550.0   70000.0
Vietnam              2000.0       NaN
Wales              733500.0  395000.0
Zambia             174500.0       NaN
Zimbabwe           142000.0    7000.0

[159 rows x 2 columns]

В каких клубах играют футболисты из России?

In [89]:
fb[fb['nationality_name'] == 'Russia']['club_name'].unique()
russian_clubs = ['PFC CSKA Moscow', 'Spartak Moskva', 'FC Lokomotiv Moscow']

In [94]:
russian_team_players = fb.loc[fb['club_name'].isin(russian_clubs)]#.copy() #если хотим что-то менять
russian_team_players

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
220,193525,Mário Fernandes,RB,82,82,26500000.0,57000.0,30,187,80,...,76,79,81,83,12,13,14,13,12,NaN
390,148119,I. Akinfeev,GK,80,80,2300000.0,26000.0,35,186,78,...,67,18,13,13,77,72,78,82,84,51.0
444,208808,Q. Promes,"CAM, LW",80,80,20500000.0,68000.0,29,174,72,...,79,46,48,40,10,13,6,7,13,NaN
673,172962,V. Moses,"RM, RWB",78,78,13500000.0,56000.0,30,177,79,...,75,70,71,70,9,7,8,16,16,NaN
758,213160,R. Zobnin,"CDM, CM, RM",78,80,15000000.0,51000.0,27,182,78,...,73,79,76,75,10,8,13,15,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17965,257996,D. Bokov,GK,55,74,275000.0,500.0,18,184,78,...,28,5,12,11,58,49,57,55,56,25.0
18108,263961,D. Khudyakov,GK,55,75,300000.0,500.0,17,193,88,...,23,7,14,13,54,58,59,54,55,32.0
18433,228103,T. Akmurzin,GK,53,63,180000.0,4000.0,23,189,80,...,24,10,18,18,47,56,63,50,52,44.0
18486,252995,V. Torop,GK,53,75,275000.0,500.0,17,189,84,...,22,7,14,13,50,53,47,54,52,41.0
18682,248214,A. Poplevchenkov,GK,52,66,170000.0,3000.0,21,197,84,...,36,6,13,13,50,52,59,45,57,16.0

In [93]:
fb.loc[fb['club_name'].isin(russian_clubs)]

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
220,193525,Mário Fernandes,RB,82,82,26500000.0,57000.0,30,187,80,...,76,79,81,83,12,13,14,13,12,NaN
390,148119,I. Akinfeev,GK,80,80,2300000.0,26000.0,35,186,78,...,67,18,13,13,77,72,78,82,84,51.0
444,208808,Q. Promes,"CAM, LW",80,80,20500000.0,68000.0,29,174,72,...,79,46,48,40,10,13,6,7,13,NaN
673,172962,V. Moses,"RM, RWB",78,78,13500000.0,56000.0,30,177,79,...,75,70,71,70,9,7,8,16,16,NaN
758,213160,R. Zobnin,"CDM, CM, RM",78,80,15000000.0,51000.0,27,182,78,...,73,79,76,75,10,8,13,15,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17965,257996,D. Bokov,GK,55,74,275000.0,500.0,18,184,78,...,28,5,12,11,58,49,57,55,56,25.0
18108,263961,D. Khudyakov,GK,55,75,300000.0,500.0,17,193,88,...,23,7,14,13,54,58,59,54,55,32.0
18433,228103,T. Akmurzin,GK,53,63,180000.0,4000.0,23,189,80,...,24,10,18,18,47,56,63,50,52,44.0
18486,252995,V. Torop,GK,53,75,275000.0,500.0,17,189,84,...,22,7,14,13,50,53,47,54,52,41.0
18682,248214,A. Poplevchenkov,GK,52,66,170000.0,3000.0,21,197,84,...,36,6,13,13,50,52,59,45,57,16.0

### Игроки из каких стран играют в Российских клубах И Сколько они получают

### margins & pivot table & fill_value

In [103]:
russian_teams_players_wages = fb.loc[
    fb['club_name'].isin(russian_clubs)
].pivot_table(
        values=['wage_eur'],aggfunc='sum',
        index=['nationality_name'], 
        columns=['club_name'], fill_value=0, #заменить пустые значения Not a Number
        margins=True)#сумма по странам и клубам (по столбцам и строкам)
russian_teams_players_wages

                              wage_eur                                 \
club_name          FC Lokomotiv Moscow PFC CSKA Moscow Spartak Moskva
nationality_name
Argentina                            0               0          41000
Belarus                          22000               0              0
Belgium                              0               0          11000
Brazil                           76000           23000          37000
Cape Verde Islands               51000               0              0
Croatia                          31000           17000              0
Côte d'Ivoire                        0           12000              0
England                           5000               0              0
Finland                           5000               0              0
France                            7000               0          51000
Guinea                           43000               0              0
Iceland                              0           31000              0
Kazakhstan                           0           19000              0
Mali                                 0            5000              0
Netherlands                      43000               0         107000
Nigeria                              0           31000          56000
Norway                               0           16000              0
Poland                           38000               0              0
Russia                          320500          377000         440000
Slovenia                             0           20000              0
Sweden                               0               0          50000
All                             641500          551000         793000


club_name                 All
nationality_name
Argentina             41000.0
Belarus               22000.0
Belgium               11000.0
Brazil               136000.0
Cape Verde Islands    51000.0
Croatia               48000.0
Côte d'Ivoire         12000.0
England                5000.0
Finland                5000.0
France                58000.0
Guinea                43000.0
Iceland               31000.0
Kazakhstan            19000.0
Mali                   5000.0
Netherlands          150000.0
Nigeria               87000.0
Norway                16000.0
Poland                38000.0
Russia              1137500.0
Slovenia              20000.0
Sweden                50000.0
All                 1985500.0